extends layout

block content


  if (!user)
   a(href="/login") Login
   br
   br
   a(href="/register") Register
  if (user)
   p You are currently logged in as #{user.username}
   a(href="/potato") Take me to potato
   br
   br
   a(href="/logout") Logout